<nav class="navbar navbar-light" style="background-color: DarkViolet">
    <div class="container">
        {% load static %}
        <a class="navbar-brand" href="{% url 'notes:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:Black">Simbir</span><span style="color:White">Note</span>
        </a>
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a
                        class="nav-link link-light {% if view_name == 'notes:index' %}active{% endif %}"
                        href="{% url 'notes:index' %}"
                >
                    На главную
                </a>
            </li>
            {% if user.is_authenticated %}
             <li class="nav-item">
                <a
                        class="nav-link link-light {% if view_name == 'notes:save_notes' %}active{% endif %}"
                        href="{% url 'notes:save_notes' %}"
                >
                    Список заметок
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name == 'about:author' %} active {% endif %}"
                   href="{% url 'about:author' %}">Об авторе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name == 'about:tech' %} active {% endif %}"
                   href="{% url 'about:tech' %}">Технологии</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'notes:note_create' %}">Добавить заметку</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'account_logout' %}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'account_login' %}">Авторизация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'account_signup' %}">Регистрация</a>
            </li>
            {% endif %}
            {% endwith %}
        </ul>
    </div>
</nav>


