{% if user.is_authenticated %}
{% with request.resolver_match.view_name as view_name %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
           class="nav-link {% if view_name == 'notes:save_notes' %}
                              active
                           {% endif %}"
           href="{% url 'notes:save_notes' %}"
        >
          <span style="color:DarkViolet">Сохранненые заметки</span>
        </a>
      </li>
    </ul>
  </div>
{% endwith %}
{% endif %}

