{% extends "base.html" %}

{% load i18n %}
{% block title %}Новый пароль{% endblock %}

{% block content %}

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}Ссылка для восстановления пароля устарела. Пожалуйста, <a
        href="{{ passwd_reset_url }}">отправьте заново</a>.{% endblocktrans %}</p>
{% else %}
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="action" value="Сменить пароль" class="btn btn-primary"/>
</form>
{% endif %}
{% endblock %}

